<!DOCTYPE html><html><head><title>socks2money</title>
<meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/style.css">
	<script src="/js/jquery-3.3.1.min.js"></script>	
	<script src="/js/jquery.validate.min.js"></script>
</head>
<body>
	  <div data-fragment="content"></div>
	<script>
	</script>
</body>
</html>